import React, {useState, useEffect} from 'react';

const {{name}} = () => {
  const [state, setState] = useState();
  useEffect(() => {

  }, []);

  return (
    <div>
      {{name}} SCREEN
    </div>
  );
};

export default {{name}};
